.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 18px;
}

.header__burger__icon {
    display: none;
}

.header__logo__text {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

.header__routes {
    display: flex;
    align-items: center;
    gap: 28px;
}

.header__route__text {
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.header__search {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 9px 0 9px 15px;
    min-width: 272px;
    color: #979797;
}

.header__search::placeholder {
    color: #979797;
}

.header__mobile__search {
    display: none;
}

.header__login__btn {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFF;
    background: #FF7B7B;
    mix-blend-mode: darken;
    border-radius: 20px;
    padding: 8px 24px;
}

@media (max-width: 1440px) {
    .header__logo__text {
        font-size: 32px;
        line-height: 20px;
    }

    .header__route__text, .header__login__btn {
        font-size: 22px;
    }

    .header__search {
        display: none;
    }

    .header__mobile__search {
        display: block;
    }

}

@media (max-width: 1024px) {
    .header__route__text {
        display: none;
    }

    .header__burger__icon {
        display: block;
    }

    .header__login__btn {
        font-size: 16px;
    }

}

@media (max-width: 500px) {
    .header__logo__text {
        font-size: 24px;
    }

    .header__login__btn, .header__mobile__search {
        display: none;
    }
}
